.bodyBG {
	background-repeat: no-repeat;
  	background-image: url(../images/dominionBG.jpg); 
}



.accueilBouton {
	margin-top: 60px;
}

.imageDominion {
	width: 70%;
	height: 70%;
}





@media (max-width: 992px) {

h1 {
	font-size: 30px;
}


.paragraphe {
	margin-top: 0px;
}



}

